.mainMenu{
	.top{
		background-color: #333;
		line-height: 24px;
		color:#fff;
		.logout{

		}		
	}
	.menus{
		background-color: #fff;
		line-height: 60px;
		.logo{
			vertical-align: middle;
			margin-left: 50px;
		}
	}
	.menuLink{
		line-height: 60px;
	}
}