@import "setting.less";
.content{
	width: 1500px;
	margin: 0 auto;
	position: relative;
	.breadcrumb{
		margin:10px 0;
	}
	.main{
		min-width: 1010px;
		padding: 15px;
		margin-left: 190px;
		background-color: #fff;
		border:1px solid @border;
	}
}